table,td,tr,th{
    border: 1px solid black;
    border-collapse: collapse;
}
.pad {
    padding: 1rem
}

.cart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}